@model List<Entrada>
@{
    ViewData["Title"] = "Entrada";
}

<div class="text-left">
    <h4>Lista de Entradas</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tipo</th>
                <th scope="col">Data / Hora</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Estado(UF)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (Entrada Entrada in Model)
                {
                    <tr>
                        <th scope="row">@Entrada.Id</th>
                        <td>@Entrada.Tipo</td>
                        <td>@Entrada.DataHora</td>
                        <td>@Entrada.mercadoria.Nome</td>
                        <td>@Entrada.Quantidade</td>
                        <td>@Entrada.Estado</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>
